@import "./App.scss";

.cv {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 1em;
  .skills,
  .roles,
  .tools {
    max-width: 320px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    padding: 0 1em;
    border-radius: 5px;
    p {
      font-weight: 200;
    }
    &__list {
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;

      li {
        margin-bottom: 0.8em;
        font-weight: 100;
      }
    }
  }
}

.icon {
  margin-top: 0.5em;
  font-size: 3em;
  // color: $mainBlue;
}

@media only screen and (max-width: 600px) {
  .skills,
  .tools,
  .roles {
    h2 {
      font-size: 1.2em;
    }
  }
  .icon {
    font-size: 2em;
  }
}
