$mainColor: #0facf3;

.navigation {
  height: 80px;
  width: 100%;
  color: #333;
  display: flex;
  place-items: center;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
  line-height: 150px;
  transition: line-height 0.5s;
  position: relative;
  z-index: 1;
  &__position-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    padding-left: 5em;
    h1 {
      margin: 0;
      font-size: 2em;
      font-weight: 200;
      letter-spacing: 0.1em;
    }
  }
  &__position-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 5em;

    &--hello-button {
      font-size: 1.3em;
      padding: 0.5em 1em;
      border-radius: 50px;
      outline: none;
      background: transparent;
      border: 2px solid $mainColor;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      transform: scale(0.95);
      &:hover {
        background: $mainColor;
        color: #fff;
        transform: scale(1);
      }
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
.scrolled-nav {
  height: 60px !important;
  line-height: 60px !important;
}

@media (max-width: 500px) {
  .navigation {
    &__position-left,
    &__position-right {
      margin: 0;
      justify-content: center;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navigation {
    &__position-right--hello-button {
      font-size: 1em;
    }
    &__position-left {
      font-size: 0.8em;
    }
  }
}
